<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <configuration>
  <typeAliases>
  	<typeAlias type="Ttonamade.dto.Cart_infoDto" alias="cartDto"/>
  	<typeAlias type="Ttonamade.dto.Category_Dto" alias="cateDto"/>
  	<typeAlias type="Ttonamade.dto.Customer_infoDto" alias="custDto"/>
  	<typeAlias type="Ttonamade.dto.Order_detailDto" alias="odDto"/>
  	<typeAlias type="Ttonamade.dto.Order_infoDto" alias="oiDto"/>
  	<typeAlias type="Ttonamade.dto.Product_infoDto" alias="prodDto"/>  	
  	<typeAlias type="Ttonamade.dto.ProductSearchDto" alias="PSDto"/> 
  	<typeAlias type="Ttonamade.dto.Order_DetailReview" alias="ODReview"/>
  	<typeAlias type="Ttonamade.dto.Product_reviewDto" alias="PRDDto"/>
  	<typeAlias type="Ttonamade.dto.Product_choiceDto" alias="pcDto"/>
  	<typeAlias type="Ttonamade.dto.QnaDto" alias="QnaDto"/>  
  </typeAliases>  
   
  <mappers>
  	<mapper resource="Ttonamade/resource/cart_infoMapper.xml"/>
  	<mapper resource="Ttonamade/resource/customer_infoMapper.xml"/>
  	<mapper resource="Ttonamade/resource/order_detailMapper.xml"/>
  	<mapper resource="Ttonamade/resource/order_infoMapper.xml"/>
  	<mapper resource="Ttonamade/resource/product_infoMapper.xml"/>
  	<mapper resource="Ttonamade/resource/category_Mapper.xml"/>
  	<mapper resource="Ttonamade/resource/product_choiceMapper.xml"/>
    <mapper resource="Ttonamade/resource/order_DetailReviewMapper.xml"/>
    <mapper resource="Ttonamade/resource/product_ReviewMapper.xml"/>
    <mapper resource="Ttonamade/resource/qnaMapper.xml"/>
  </mappers>  
  </configuration>