<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="cart_infoMapper">
  
  <select id="selectAll" parameterType ="String" resultType= "cartDto" >
  	 	select  * from cart_info where cust_id = #{cust_id} 
  </select>
  	 
  <select id="selectOne" parameterType= "String" resultType="cartDto">
  		select  * from cart_info where cust_id = #{cust_id}
  </select>
  
  <insert id="insertOne" parameterType="cartDto">
	  	insert into cart_info (cart_id, cust_id, prod_id, prod_name, prod_count, prod_price )
	  	values (cart_id_seq.nextval, #{cust_id}, #{prod_id}, #{prod_name}, #{prod_count}, #{prod_price})
  	
  </insert>
   
   <delete id="deleteOne" parameterType="int" >
  		delete from cart_info where cart_id = #{cart_id}
   </delete>  
   
   <delete id="deleteAll" parameterType ="int"  >
  		delete from cart_info where cust_id =#{cust_id}
   </delete>  
  
  </mapper>