<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="order_infoMapper">
	<select id="selectAll" parameterType="String" resultType="oiDto">
		select order_id, cust_id, order_totalAmount, order_date, cus_zipcode, order_add1, order_add2, order_telephone, order_status
		from order_info
		where cust_id = #{cust_id}
		order by order_id desc
	</select>
	<select id="selectOne" parameterType="String" resultType="oiDto">
		select order_id, cust_id, order_totalAmount, order_date, cus_zipcode, order_add1, order_add2, order_telephone, order_status
		from order_info
		where order_id = #{order_id}
	</select>
	<insert id="insertOne" parameterType="oiDto">
		insert into order_info(order_id, cust_id, order_totalAmount, order_date, cus_zipcode, order_add1, order_add2, order_telephone, order_status)
		values (#{order_id}, #{cust_id}, #{order_totalAmount}, #{order_date}, #{cus_zipcode}, #{order_add1}, #{order_add2}, #{order_telephone}, #{order_status})
	</insert>
	<update id="updateOne" parameterType="oiDto">
		update order_info
		set cust_id = #{cust_id}
		, order_totalAmount = #{order_totalAmount}
		, order_date = #{order_date}
		, cus_zipcode = #{cus_zipcode}
		, order_add1 = #{order_add1}
		, order_add2 = #{order_add2}
		, order_telephone = #{order_telephone}
		, order_status = #{order_status}
		where order_id = #{order_id}
	</update>
	<delete id="deleteOne" parameterType="String">
		delete
		from order_info
		where order_id = #{order_id}
	</delete>
</mapper> 
